__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.tox/
.nox/
.pytest_cache/
analysis_results/

# Build artifacts
build/
dist/
*.spec
src/image_metadata_analyzer/bin/

# OS files
.DS_Store
